:root{
/* Primary */

--lime: hsl(61, 70%, 52%);
--red: hsl(4, 69%, 50%);

/* Neutral */

--white: hsl(0, 0%, 100%);
--slate100: hsl(202, 86%, 94%);
--slate300: hsl(203, 41%, 72%);
--slate500: hsl(200, 26%, 54%);
--slate700: hsl(200, 24%, 40%);
--slate900: hsl(202, 55%, 16%);
}

.attribution { 
  font-size: 11px; text-align: center;
 }
.attribution a { 
  color: hsl(228, 45%, 44%);
 }

 *{
  font-family: Plus Jakarta Sans;
 }
 
body{
  margin: 0;
  padding: 0;
  background-color: var(--slate100);
}
.container{
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-card{
  display: flex;
  flex-direction: row;
  height: auto;
  width: 50%;
  background-color: var(--white);
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

.field-require-text{
  margin-top: 10px;
  color: var(--red);
  font-size: 10px;
  font-weight: 900;
  margin-bottom: 3px;
  display: none;
}
.mortgage-calculator-side{
  height: auto;
  width: auto;
  background-color: var(--white);
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
  padding: 30px;

}
.result-side{
  height: auto;
  width: 70%;
  padding: 30px;
  overflow: hidden;
  background-color: var(--slate900);
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/*Mortgage Calculator Header */
.mortgage-calculator-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.mortgage-calculator-header p{
 margin: 0;
 font-weight: 500;
 color: var(--slate700);
}
.mortgage-calculator-header button{
 margin: 0;
 font-weight: 500;
 font-size: 12px;
 color: var(--slate900);
 background-color: var(--white);
 text-decoration: underline;
 cursor: pointer;
 border: none;
 padding: 0;
}

/*Mortgage Calculator Amount  */
.mortgage-calculator-amount{
  padding-top: 19px ;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.mortgage-calculator-amount p{
  margin: 0;
  font-size: 11px;
  color: var(--slate900);
  padding-bottom: 10px;
}

.mortgage-calculator-amount-input{
  display: flex;
  flex-direction: row;
  height: 30px;
  border: 1px solid var(--slate300);
  border-radius: 5px;
}

.mortgage-calculator-amount-input:hover{
  border: 1px solid var(--slate900);
  transition: 0.1s;
}

.mortgage-calculator-amount-input:focus-within {
  border-color: var(--lime); 
}

.mortgage-calculator-amount-input:focus-within .peso-logo {
  background-color: var(--lime); 
}

.mortgage-calculator-amount-input .peso-logo{
  background-color: var(--slate100);
  height: 100%;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.mortgage-calculator-amount-input input{
  width: 100%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 10px;
  font-weight: 700;
}

.mortgage-calculator-amount-input input:focus{
  outline: none;
}

/* Mortgage Calculator Mortgage Term and Interest Rate */

.mortgage-calculator-term-and-interest{
  display: flex;
  flex-direction: row;
  width: 100;
  justify-content: space-between;
}
.mortgage-calculator-term-section{
  width: 48%;
}
.mortgage-calculator-term-section p{
  margin: 0;
  font-size: 11px;
  color: var(--slate700);
  padding-bottom: 10px;
  font-weight: 500;
}

.mortgage-calculator-term-section-mortgage{
  display: flex;
  flex-direction: row;
  border: 1px solid var(--slate300);
  border-radius: 5px;
}

.mortgage-calculator-term-section-mortgage input{
  width: 90%;
  padding: 10px;
  font-weight: 700;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  accent-color: green;
}
.mortgage-calculator-term-section-mortgage div{
  width: auto;
  background-color: var(--slate100);
  color: var(--slate700);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 7px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mortgage-calculator-term-section-mortgage input:focus{
  outline: none;
}

/* Mortgage Calculator Type */
.mortgage-calculator-type{
  display: block;
  margin-top: 13px;
}

.mortgage-calculator-type p{
  margin: 0;
  font-size: 11px;
  color: var(--slate700);
  padding-bottom: 2px;
  font-weight: 500;
}

.mortgage-calculator-type-radio{
  border: 1px solid var(--slate500);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 8px 5px ;
  margin-top: 5px;
  border-radius: 5px;
}
.mortgage-calculator-type-radio:hover{
  border: 1px solid var(--lime);
  transition: 0.3s;
  cursor: pointer;
}
.mortgage-calculator-type-radio-clicked{
  border: 1px solid var(--lime);
  background-color: hsla(61, 70%, 52%, 0.1);
  transition: 0.3s;
}

.mortgage-calculator-type-radio-repayment{
  margin: 0 10px;  
}

input[type="radio"]{
  accent-color: var(--lime);
  border: none;
}

.mortgage-calculator-type-radio-interest{
  margin: 0 10px;
}

.mortgage-calculator-type-radio div{
  font-size: 13px;
  font-weight: 700;
  color: var(--slate900);
}

/* Mortgage Calculator Type Button */

.mortgage-calculator-button{
  margin-top: 30px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.mortgage-calculator-button button{
  display: flex;
  flex-direction: row;
  background-color: var(--lime);
  color: var(--slate900);
  border: none;
  border-radius: 100px;
  width: 82%;
  cursor: pointer;
  transition: 0.3s;
}

.mortgage-calculator-button button:hover{
  opacity: 80%;
}

.mortgage-calculator-button button img{
  margin: 0;
  display: flex;
  justify-content: center;
}

.mortgage-calculator-button button p{
  font-weight: 700;
  margin-left: 5px;
}
.mortgage-calculator-button button div{
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Result Side Empty */
.result-empty{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.result-side-title{
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
}
.result-side-text{
  margin-top: 10px;
  color: var(--slate500);
  font-size: 11px;
  text-align: center;
}

/* Result Side Populate*/
.result-populate{
  border: 1px solid red;
}